body {
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
 }
 
 
 header {
	border: 10px solid #333333;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;
 }
 
 
 nav ul {
	list-style: none;
	font-size: 50px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
 }
 
 a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 1rem;
	transition: background-color 0.2s ease-in-out;
  }
  
 
 nav li {

	text-align: center;
	margin: 10 20px;
 }
 
 
 nav li a {
	border: 10px solid #333333;
	text-align: center;
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
  background-color: #FFB6C1;

 }
 
 
 nav li a:hover {
	background-color: #f87185;
 }
 
 
 main {
	padding: 20px;
 }
 
 
 h2 {
	text-align: center;
	border-bottom: 1px solid white;
	padding: 20px;
	font-size: 25px;
	padding-bottom: 10px;
  background-color: #FFB6C1;
 }
 
 
 ul {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 20px;
	list-style: none;
 }
 
 
 footer {
	background-color: #000000;
	padding: px;
	text-align: center;
 }
 