body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
 }
 
 
 header {
	text-align: center;
	padding: 20px;
	font-size: 50px;
	background-color: #FFB6C1;
 }
 
 
 nav ul {
	list-style: none;
	font-size: 70px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #FFB6C1;
   
 }
 
 
 nav li {
	margin: 0 10px;
 }
 
 
 nav li a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
 }
 
 
 nav li a:hover {
	background-color: #f87185;
 }
 
 
 main {
	padding: 20px;
 }
 
 
 h2 {
	border-bottom: 1px solid white;
	padding-bottom: 10px;
 }
 
 
 ul {
	margin: 0;
	padding: 0;
	list-style: none;
 }
 
 
 footer {
	background-color: #000000;
	padding: px;
	text-align: center;
 }
 