<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="static/css/alphabet.css"> 
</head>
<body>
	<div style="text-align: center;">
	<h1>What is the Letter?</h1>
	<img id="game-image" src="{{ url_for('static', filename=image_filename) }}">
	<form method="post" action="{{ url_for('guess') }}">
		<input id="guess-input" name="guess" type="text" placeholder="Enter your guess...">
		<input type="hidden" name="animal" value="{{ animal }}">
		<button id="submit-button" type="submit">Submit</button>
	</form>
	<p id="result-message">{{ message }}</p>
</div>
</body>
</html>