<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="static/css/alphabet.css"> 
	<title>Game Scoring</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function updateScore(points) {
            $.post('/update_score', {points: points});
        }
    </script>
</head>
<body>
	<div style="text-align: center;">
		<ul>
			<li><a href="/">Home</a></li>
	
		</ul>
	<h1>What is the Letter?</h1>
	<img id="game-image" src="{{ url_for('static', filename=image_filename) }}">
	<form method="post" action="{{ url_for('guess') }}">
		<input id="guess-input" name="guess" type="text" placeholder="Enter your guess...">
		<input type="hidden" name="animal" value="{{ animal }}">
		
		<p>Score: {{score}}</p>
		<p id="result-message">{{ message }}</p>
		<button name="points" value="{{1}}" onclick="guess()">Bet 1 Point</button>
		<button name="points" value="{{5}}"onclick="guess()">Bet 5 Points</button>
	</form>
	
</div>
</body>
</html>