<!DOCTYPE html>
<html>
<head>
	<title>Black Website</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<header>
		<h1>Unlock ASL</h1>
	</header>
	<main>

		<h2>Are you Ready to Learn? </h2>
		<ul>  Improve you skills with our learning module! Or need a quick translation? We got you covered there too!
		</ul>
	</main>
	<nav>
		<ul>
			<li><a href="translate">Translate</a></li>
			<li><a href="levels">Learn</a></li>
	
		</ul>
	</nav>
	
	<footer>
		<p>&copy; 2023 Unlock ASL  All rights reserved.</p>
	</footer>
</body>
</html>
