<!DOCTYPE html>
<html>
<head>
  <title>Centered Box and Text Box Page</title>
  <link rel="stylesheet" type="text/css" href="static/css/translate.css">
</head>
<body>
  <div class="container">
    <div class="center-box">
      <h1>Sign Here: </h1>  
      <img style = "align-items: center" id="video_feed" src="{{ url_for('video_feed') }}">
    </div>
  </div>
  

  <div class="container">
    <div class="center-box">
      <form>
        <label for="name">Translation: {{"yes" + prediction}} </label>
      
      </form>
    </div>
  </div>
</body>
</html>
