<!DOCTYPE html>
<html>
<head>
  <title>Centered Box and Text Box Page</title>
  <link rel="stylesheet" type="text/css" href="static/css/translate.css">
</head>
<body>
  <div class="container">
    <div class="center-box">
      <h1>Sign Here: </h1>
      
    </div>
    </body>
    </div>


  <div class="container">
    <div class="center-box">
      <form>
        <label for="name">Translation:</label>
        <input type="text" id="name" name="name">
      </form>
    </div>
  </div>
</body>
</html>
